# Created by https://www.toptal.com/developers/gitignore/api/java,eclipse,git
# Edit at https://www.toptal.com/developers/gitignore?templates=java,eclipse,git

### Eclipse ###
context-*.xml



# End of https://www.toptal.com/developers/gitignore/api/java,eclipse,git